<div class="navbar navbar-light nave">
<h2 class="text-white font-italic">The Cocktail's Club</h2>
<%= link_to "Add Cocktail", new_cocktail_path , class:"btn btn-flat" %>

<div class="row row-cols-3 d-flex justify-content-center background">
<% @cocktails.each do |cocktail| %>
      <div class="card-trip m-3 ">
        <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h3 class="card-title"><%= cocktail.name %></h3>
            <p>Check de recipe!</p>
            
          </div>
          <h2 class="card-trip-pricing"><%= link_to 'More info', cocktail_path(cocktail.id), class: "btn btn-flat m-2" %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
<%end%>
</div>
